extends layout 

block append scripts
  script(src="/js/script.js")

block layout-content
  .container.mt-4
    h2.mb-4 About Us
    p We are a group of individuals from different technology fields, led by Wendy. 
    p We works to build a community of farmers, buyers, and seed enthusiasts who can connect easily and help each other grow. 
    p Our vision is to create a better marketplace for buying and selling seeds online, with a goal to help Canadian farmers expand this network. 
    p SeedSync aims to provide a solution to help farmers ease the process of seed purchasing by implementing a new, innovative way to do so. This will allow farmers to digitally post and sell their seeds in a more standardized and organized platform and for buyers to browse and purchase those seeds in a more user-friendly way. 
    p In essence, SeedSync represents our dedication to driving positive change within the agricultural sector. With our platform, we aspire to not only streamline seed transactions but also to nurture a supportive ecosystem that propels the success of Canadian farmers. Together, let us sow the seeds of prosperity and usher in a brighter future for agriculture in Canada.

    // Team Members Section
  .row.mt-4
    // Team Member 1
    .col-md-4.mb-4
      .card.card-sm
        img.card-img-top(src="/images/Wendy.jpeg", alt="Team Member 1")
        .card-body
          h5.card-title 
            strong Tsaichen Lee
          p.card-text Team Lead
    // Team Member 2
    .col-md-4.mb-4
      .card.card-sm
        img.card-img-top(src="/images/Saloni.jpeg", alt="Team Member 2")
        .card-body
          h5.card-title 
            strong Saloni Pawar
          p.card-text Web Developer
    // Team Member 3
    .col-md-4.mb-4
      .card.card-sm
        img.card-img-top(src="/images/Mona.jpeg", alt="Team Member 3")
        .card-body
          h5.card-title 
            strong Mona Zonoozi
          p.card-text UX Researcher
    // Team Member 4
    .col-md-4.mb-4
      .card.card-sm
        img.card-img-top(src="/images/Yatee.jpeg", alt="Team Member 4")
        .card-body
          h5.card-title 
            strong Yatee Upadhyay
          p.card-text Creative Technologist
    // Team Member 5
    .col-md-4.mb-4
      .card.card-sm
        img.card-img-top(src="/images/Keling.jpeg", alt="Team Member 5")
        .card-body
          h5.card-title 
            strong Keling Liu
          p.card-text UI Designer
    // Team Member 6
    .col-md-4.mb-4
      .card.card-sm
        img.card-img-top(src="/images/Beatrice.jpeg", alt="Team Member 6")
        .card-body
          h5.card-title 
            strong Beatrice Asamany
          p.card-text UX Designer
