footer#footer.site-footer
  .container
    .row
      .col-md-4
        h4 About Us
        p We aim to provide the best quality seeds for farmers and gardening enthusiasts. Our mission is to support sustainable agriculture and promote healthy food production.
        img.logo(src="images/logo.png", alt="Logo")
      .col-md-4
        h4 Quick Links
        ul
          li
            h6 Products 
            ul.dropdown-menu
            each seed in products
                    li
                        a.dropdown(href=seed.path) #{seed.name}
          li
            a(href="/about") About Us
          li
            a(href="/contact") Contact Us
      .col-md-4
        h4 Follow Us
        ul.social-icons
          li
            a(href="#" target="_blank")
              i.fab.fa-facebook-square
          li
            a(href="#" target="_blank")
              i.fab.fa-instagram-square
          li
            a(href="#" target="_blank")
              i.fab.fa-twitter-square
          li
            a(href="#" target="_blank")
              i.fab.fa-linkedin-square
    hr
    p.text-center &copy; 2024 SeedSync. All rights reserved.
