extends layout

block layout-content

  .container
    h1.mt-5.mb-4 Our Vegetable Seed Products
    .row
      each product in vegetableseeds
        .col-lg-4
          .card.mb-3
            img.card-img-top(src=`/images/${product.image}`, alt=`${product.name}`, style="height: 200px;")
            .card-body
              h5.card-title #{product.name}
              p.card-text Price: $#{product.price}
              a.btn.btn-primary(href="#") Buy

    // Add Vegetable Button
    a.btn.btn-primary(href="/additem") Add Vegetable
